services:
  - type: web
    name: bmgo-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
      - key: MONGO_URI_A
        sync: false
      - key: MONGO_URI_B
        sync: false
      - key: GITHUB_TOKEN
        sync: false
      - key: ADMIN_KEY
        sync: false
